body{
    margin:0;
    padding:0;
}
div{
    box-sizing: border-box;
}
.loginContainer{
    width: 100%;
    height:850px;
    padding:25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginHeader{
    font-size:40px;
    margin-bottom: 25px;
}
.loginLabel{
    margin-bottom: 10px;
}
.loginForm{
    width:70%;
    height:650px;
    background-color: rgba(0,0,0,0.85);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px;
    border-radius: 50px;
}

.loginFormInput{
    width:450px;
    height:125px;
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-bottom: 15px;
}
.loginFormInputSmall{
    width:450px;
    height:45px;
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-bottom: 15px;
}
.loginFormInputSmallBottom{
    width:450px;
    height:50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:0;
    margin-bottom: 15px;
}
.Input{
    width:90%;
    height:45px;
    outline: none;
    color:black;
    font-size:26px;
    box-sizing: border-box;
    border:5px solid gray;
    border-radius: 50px;
    padding: 5px 15px;
    transition: 250ms all ease;
}
.Input:hover{
    border-color: rgb(0, 174, 255);
}
.Input:focus{
    width:95%;
}
.submitButton{
    cursor: pointer;
    width:175px;
    height:50px;
    color:black;
    background-color: white;
    border: 5px solid rgba(0, 0, 0, 0);
    border-radius: 25px;
    font-size:20px;
    margin:5px;
    transition: 250ms all ease;
}
.submitButton:hover{
    border-color:rgb(0, 183, 255)
}
.submitButton:active{
    border-color:aqua
}

.registerContainer{
    width: 100%;
    height:875px;
    padding:25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.registerForm{
    width:70%;
    height:800px;
    background-color: rgba(0,0,0,0.85);
    color:white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:40px;
    border-radius: 50px;
}
.registerHeader{
    font-size:36px;
    margin-bottom: 25px;
}
.registerFormInput{
    width:450px;
    height:110px;
    display: flex;
    flex-direction: column;
    margin-top:0;
    margin-bottom: 15px;
}
.registerFormInputSmallBottom{
    width:450px;
    height:50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:15px;
    margin-bottom: 0px;
}